{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/s.css' %}"/>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"></script>
    <script src="{% static 'js/registration.js' %}"></script>
  </head>
<body class="main" style="background-color:rgba(0, 0, 0, 0.15);">
  <h1>CloudBuster Movies<h1>
  <h3>Registration Page:<h3>
  <table>
  <tr><td>First Name:</td><td> <input type="text" name="fName" id="fName"/></td></tr>
  <tr><td>Last Name:</td><td> <input type="text" name="lName" id="lName"/></td></tr>
  <tr><td>Email:</td><td> <input type="email" name="email" id="email"/></td></tr>
  </table>
  <input id="submit" type="submit" value="Create Account"/>
  
  <h2 id="msg"></h2>
  <a href='/'>Home</a>
</body>
</html>